{% extends "base.html" %}
{% block tituloBarraNavegacion %} Recursos {% endblock %}

{% block navbar %}
  <a href="{% url 'home' %}" class="nav-item nav-link">Inicio</a>
  <a href="{% url 'quienesSomos' %}" class="nav-item nav-link">Quienes Somos</a>
  <a href="{% url 'publicaciones:listar_publicaciones' %}" class="nav-item nav-link">Publicaciones</a>
  <a href="{% url 'recursos:listar' %}" class="nav-item nav-link active">Recursos</a>
  <a href="{% url 'contacto' %}" class="nav-item nav-link">Contacto</a>
{% endblock %}

{% block seccion %}  
<h1>Recursos</h1>
<br>
  {% for recurso in recursos %}
    <h2>{{ recurso.nombre }}</h2>
    {{ recurso.archivo }}
    
    <form method="POST" action="{% url 'recursos:listar' %}">{% csrf_token %}
			<input type="text" name="id_recurso" value="{{recurso.pk}}" hidden=""> 
			<input type="submit" value="Descargar">
		</form>

  {% endfor %}
{% endblock seccion %}