{% extends 'base.html' %}
{% block tituloBarraNavegacion %} Login {% endblock %}

{% block navbar %}
  <a href="{% url 'home' %}" class="nav-item nav-link">Inicio</a>
  <a href="{% url 'quienesSomos' %}" class="nav-item nav-link">Quienes Somos</a>
  <a href="{% url 'publicaciones:listar_publicaciones' %}" class="nav-item nav-link">Publicaciones</a>
  <a href="{% url 'recursos:listar' %}" class="nav-item nav-link">Recursos</a>
  <a href="{% url 'contacto' %}" class="nav-item nav-link">Contacto</a>
{% endblock %}

{% block seccion %}  

<hr size="5px" color="#FF5E14" />
    <h1>Login</h1>
<hr size="5px" color="#FF5E14" />
<br><br>
    <section class="mapa">
        <div style="margin-left : 15%;margin-right: 15%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"">
            <h3 class="titulo-principal text-center">INICIAR SESIÓN</h3>
        </div>
<br><br>
    <section style="text-align: center;"> 
        <ul>
			<form method="POST">{%csrf_token%}
				{{form.errors}}
				<input type="text" name="username" placeholder="Usuario">
				<input type="password" name="password" placeholder="Contraseña">
				<input type="submit" class="btn btn-primary btn-block" value="ENVIAR">
			</form>
		</ul>
	</section>
    <br><br>
<hr size="5px" color="#FF5E14"/>

{% endblock seccion %}