{% extends 'base.html' %}
{% block tituloBarraNavegacion %} Registro {% endblock %}

{% block navbar %}

    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'home' %}"><h5>Inicio</h5></a></li>
    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'quienesSomos' %}"><h5>Quienes Somos</h5></a></li>
    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'publicaciones:listar_publicaciones' %}"><h5>Publicaciones</h5></a></li>
    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'recursos:listar' %}"><h5>Recursos</h5></a></li>
    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'contacto' %}"><h5>Contacto</h5></a></li>

{% endblock %}

{% block seccion %}

  <hr size="5px" color="#FF5E14" />
    <h1>Registro</h1>
  <hr size="5px" color="#FF5E14" />
  <br><br>
  <main role="main">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-9 mx-auto mb-5">
          <form action="" method="post">{% csrf_token %}         
            <div style="margin-left : 15%;margin-right: 15%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"">
              <h3 class="titulo-principal text-center">INGRESE SUS DATOS PARA REGISTRARSE</h3>
            </div>
            <br><br>
            {{form.as_p}}
            <p><input type="submit" class="btn btn-primary btn-block" value="ENVIAR"></p>
          </form>
        </div>
      </div>
    </div>
  </main>
  <br><br>
  <hr size="5px" color="#FF5E14" />

{% endblock seccion %}