{% extends 'base.html' %}
{% block tituloBarraNavegacion %} Registro {% endblock %}

{% block navbar %}
  <a href="{% url 'home' %}" class="nav-item nav-link">Inicio</a>
  <a href="{% url 'quienesSomos' %}" class="nav-item nav-link">Quienes Somos</a>
  <a href="{% url 'publicaciones:listar_publicaciones' %}" class="nav-item nav-link">Publicaciones</a>
  <a href="{% url 'recursos:listar' %}" class="nav-item nav-link">Recursos</a>
  <a href="{% url 'contacto' %}" class="nav-item nav-link">Contacto</a>
{% endblock %}

{% block seccion %}

  <hr size="5px" color="#FF5E14" />
    <h1>Registro</h1>
  <hr size="5px" color="#FF5E14" />
  <br><br>
  <main role="main">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-9 mx-auto mb-5">
          <form action="" method="post">{% csrf_token %}         
            <div style="margin-left : 15%;margin-right: 15%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"">
              <h3 class="titulo-principal text-center">INGRESE SUS DATOS PARA REGISTRARSE</h3>
            </div>
            <br><br>
            {{form.as_p}}
            <p><input type="submit" class="btn btn-primary btn-block" value="ENVIAR"></p>
          </form>
        </div>
      </div>
    </div>
  </main>
  <br><br>
  <hr size="5px" color="#FF5E14" />

{% endblock seccion %}