{% extends "base.html" %}
{% load static %}
{% block tituloBarraNavegacion %} Detalle de Publicación {% endblock %}

{% block navbar %}
    <a href="{% url 'home' %}" class="nav-item nav-link">Inicio</a>
    <a href="{% url 'quienesSomos' %}" class="nav-item nav-link">Quienes Somos</a>
    <a href="{% url 'publicaciones:listar_publicaciones' %}" class="nav-item nav-link active">Publicaciones</a>
    <a href="{% url 'recursos:listar' %}" class="nav-item nav-link">Recursos</a>
    <a href="{% url 'contacto' %}" class="nav-item nav-link">Contacto</a>
{% endblock %}


{% block seccion %}  

    <hr size="5px" color="#FF5E14" />
        <h1>Detalle de Publicación</h1>
    <hr size="5px" color="#FF5E14" />
        <br><br>
        <center>
            <div>
                <img src="{{publicacion.imagen.url}}" width="500" height="500">
                <br><br>
                <section style="margin-left: 8%;margin-right: 8%;"> 
                    <p><strong>TITULO: {{publicacion.titulo}}</strong></p>
                    <p><strong>FECHA: {{publicacion.fecha}}</strong></p>
                    <p><strong>CATEGORIA: {{publicacion.categoria_publicacion}}</strong></p>
                    <p>{{publicacion.cuerpo}}</p>
                </section>
                <br><br>
            </div>
        </center>
        <br><br>

        <section style="margin-left: 8%;margin-right: 8%;">
            <h3>Comentarios</h3>
            {% if not publicacion.comentarios.all %}
                Todavia no hay comentarios... 
                <br>
                <a href="{% url 'publicaciones:agregar_comentario' publicacion.pk %}">Agregar uno</a>
            {% else %}
                <a href="{% url 'publicaciones:agregar_comentario' publicacion.pk %}">Agregar Comentario</a>
                <br><br>
                {% for comentario in publicacion.comentarios.all %}
                    <strong>
                        {{ comentario.nombre }} -
                        {{ comentario.fecha }}
                    </strong>
                    <br>
                    {{ comentario.cuerpo }}
                    <br><br>
                {% endfor %}
            {% endif %}
        </section>
        <br><br>
        <center>
            <a href="{% url 'publicaciones:listar_publicaciones' %}">VOLVER</a>
        </center>
        <br><br>
    <hr size="5px" color="#FF5E14" />

{% endblock seccion %}