{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> {% block tituloBarraNavegacion %}  {% endblock %} </title>
<link rel="icon" type="image/jpg" href="{% static 'img/favicon.ico' %}"/>
  <!-- CSS Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href= "{% static 'css/bootstrap.css' %}" rel="stylesheet">

 
  

</head>
<body>
  <!-- Navbar-->
  <nav class="navbar navbar-expand-sm navbar-dark bg-orange2 mb-0 mt-0 pb-0 pt-0" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 mt-0 pb-0 pt-0" href="#">
            <img src="{% static 'img/logo4.png' %}" alt="" width="190">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            {% block navbar %}

            {% endblock %}
          </ul>
        </div>
    </div>
  </nav>

  {% block seccion %}
 

  {% endblock %}

   <!-- Footer Start -->
  <footer class="text-center text-lg-start text-white py-2 bg-orange2">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              <b class="text-dark">Asociación Civil Juntos En Acción</b>
            </h6>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto my-3">
            <h6 class="text-uppercase mb-4 font-weight-bold"><b class="text-dark">Secciones</b></h6>
              <a class="link2" href="{% url 'home' %}"><b class="text-dark">Inicio</b>
              <br>
              <a href="{% url 'quienesSomos' %}"><b class="text-dark">Quienes Somos</b></a>
              <br>
              <a href="{% url 'publicaciones:listar_publicaciones' %}"><b class="text-dark">Publicaciones</b></a>
              <br>
              <a href="{% url 'recursos:listar' %}"><b class="text-dark">Recursos</b></a>
              <br>
              <a href="{% url 'contacto' %}"><b class="text-dark">Contacto</b></a>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto my-3 ">
            <h6 class="text-uppercase mb-4 font-weight-bold"><b class="text-dark">Contacto</b></h6>
            <b class="text-dark pb-4"> Calle Dorrego 490</b>
            <br>
            <b class="text-dark pb-4">Prescia Roque Sáenz Peña, Chaco</b>
            <br>
            <b class="text-dark"> uep143.sp.chaco@gmail.com</b>
            <br>
            <b class="text-dark"> +54 03644 15 733177</b>
            <br>
            <b class="text-dark"> +54 03644 15 673583</b>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto my-3">
            <h6 class="text-uppercase mb-4 font-weight-bold"><b class="text-dark">Redes Sociales</b></h6>

            <!-- Facebook -->
            <a href="https://www.facebook.com/people/Asociacion-Civil-Juntos-En-Accion/100064567493574/" target="_blank" rel="noopener noreferrer">
              <p class="p-0 m-0"><b class="text-dark">Asociacion Civil Juntos En Acción</b></p>
              <img width="30" title="Facebook" src="{% static 'img/facebook.svg' %}" alt="Facebook">
            </a>
            
            <a href="https://m.facebook.com/people/UEP-N%C2%BA-143-CENTRO-DE-FORMACION-INTEGRAL/100063611561590/" target="_blank" rel="noopener noreferrer">
              <p class="mt-4 p-0 mb-0"><b class="text-dark">UEP Nº 143 Centro de Formación Integral</b></p>
              <img width="30" title="Facebook" src="{% static 'img/facebook.svg' %}" alt="Facebook">
            </a>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

        </div>
        <!--Grid row-->
      </section>


      <!-- Copyright Start -->
      <div class="container-fluid copyright bg-secondary py-4">
        <div class="container text-center">
            <p class="mb-2">Copyright &copy; <a class="fw-semi-bold" href="#">Asociación Civil Juntos en Acción</a>, Todos los derechos reservados.
            </p>
        </div>
      </div>
      <!-- Copyright End -->
    </div>
  </footer>

  <!-- JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
