{% extends "base.html" %}
{% block tituloBarraNavegacion %} Contacto {% endblock %}

{% block navbar %}

    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'home' %}"><h5>Inicio</h5></a></li>
    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'quienesSomos' %}"><h5>Quienes Somos</h5></a></li>
    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'publicaciones:listar_publicaciones' %}"><h5>Publicaciones</h5></a></li>
    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'recursos:listar' %}"><h5>Recursos</h5></a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'contacto' %}"><h5>Contacto</h5></a></li>
    {% if user.is_authenticated %}
      <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link" aria-current="page"><h5>Salir</h5></a></li>
    {% else %}
      <li class="nav-item"><a href="{% url 'login' %}" class="nav-link" aria-current="page"><h5>Ingresar</h5></a></li>
      <li class="nav-item"><a href="{% url 'usuarios:registro' %}" class="nav-link" aria-current="page"><h5>Registrarse</h5></a></li>
    {% endif %}
    
{% endblock %}

{% block seccion %}
<div class="container-sm p-5"> 
  <section class="mapa">

    <div style="margin-left : 15%;margin-right: 15%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"">
      <h3 class="titulo-principal text-center text-orange">NUESTRA UBICACIÓN</h3>
    <br><br>

    </div>
      <center>
        <div class="mapa-contenido">
          <iframe width="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3561.6857508041726!2d-60.44882758539435!3d-26.78628528318223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94412ce3c68bc62f%3A0x8c842a33abd51d5a!2sDorrego%20490%2C%20H3700IAJ%20S%C3%A1enz%20Pe%C3%B1a%2C%20Chaco!5e0!3m2!1ses-419!2sar!4v1670891699835!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div> 
      </center>

  </section>
  <br><br>

  <section> 

    <ul>
      <h3>Información de contacto</h3>
      <br>
      <h5>Dirección de correo electrónico: </h5>

      <div class="container-sm px-5">
        <li type="disc">Correo de la UEP: uep143.sp.chaco@gmail.com</li>
        <br>
        <li type="disc">Correo de la Presidente: sandraccpa@hotmail.com</li>
        <br>
      </div>

      <h5>Números de teléfonos:</h5>

      <div class="container-sm px-5">
        <li type="disc">N° de la UEP: 3644733177</li>
        <br>
        <li type="disc">N° de la Presidente: 3644673583</li>
        <br>
      </div>
    </ul>
  </section>

  <section>
    <ul>
    <h5>Redes Sociales</h5>
    <div class="container-sm px-5" >
      
      <a style="color: #3b5998;" href="https://www.facebook.com/people/Asociacion-Civil-Juntos-En-Accion/100064567493574/" role="button"
        ><i class="fab fa-facebook-f fa-lg"></i p>  Asociación Civil Juntos En Acción</p>
      </a>
      <a style="color: #3b5998;" href="https://m.facebook.com/people/UEP-N%C2%BA-143-CENTRO-DE-FORMACION-INTEGRAL/100063611561590/" role="button"
        ><i class="fab fa-facebook-f fa-lg"></i p>  UEP Nº 143 CENTRO DE FORMACIÓN INTEGRAL</p>
      </a>
    </div>
  </ul>
  </section>



</div>
 {% endblock %}
