{% extends "base.html" %}
{% block tituloBarraNavegacion %}Quienes Somos{% endblock %}

{% block seccion %} 
 {% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Quienes Somos</title>
</head>
<body>
  <h3>La escucha, la cercanía y el conocimiento son claves para el desarrollo. </h3>

  <p><strong>JUNTOS EN ACCION</strong> es una Asociación Civil sin fines de lucro formada por ciudadanos, que surge en el año 2003  ante la necesidad de contar con un servicio  que capacite a los jóvenes con discapacidad en un oficio o puesto de trabajo desarrollando sus potencialidades, obteniendo así una herramienta que les amplíe las posibilidades de inserción laboral y social.</p>
  <p>Nuestros principales objetivos son:</p>
  <ul> a) Apoyar, contener y asesorar, propiciando el involucramiento de las familias y la sensibilización de la comunidad.</ul><ul>b) Crear espacios priorizando actividades dentro de la recreación y capacitación laboral.</ul><ul>c) Resaltar la  importancia de la inclusión social y laboral de las personas con discapacidad, para su realización personal.</ul><ul>d) Insertar al joven con discapacidad en el mundo laboral.</ul>
  <p>Durante el año 2008 la Asociación gestionó y consiguió la habilitación, a partir del 02 de marzo de 2009, de la UEGP Nº 143 CENTRO DE FORMACION INTEGRAL.
        <center>
            <img src="{% static 'img/UEP N°143.jpg' %}"width= "300px" height="300px">
        </center>
    <br>
    <p> La institución está dirigida y administrada por una Comisión Directiva compuesta de un presidente: <em>Silva,Sandra</em>, un tesorero: <em>Zarco,Gisela</em>, vocales: <em>Valenzuela, Lisa y Duca, Silvia</em> y también una comisión Revisora de Cuentas compuesta por: <em> Hernandez, Soledad y Secoff Alicia</em>. </p>
</body>
</html>

  {% endblock %}                                             